@import '@/assets/styles/variables';

:export {
  colorChartBlue: $chart-blue;
  colorChartPink: $chart-pink;
  colorChartYellow: $chart-yellow;
  colorChartGreen: $chart-green;
  colorChartPurple: $chart-purple;
  colorChartOrange: $chart-orange;
}
