$base-button-color: #FFC107FF;
$background-color: #0181BCFF;
$text-color: lavender;
$base-button-font-color: #5B6169FF;

$chart-blue: #115fad;
$chart-pink: #b11958;
$chart-yellow: #d2c918;
$chart-green: #4ea510;
$chart-purple: #903fe0;
$chart-orange: #d57424;
